.button {
  border-radius: 3px;
  border: none;
  background: white;
  cursor: pointer;
  padding: 5px;
  margin-top: auto;
  color: #0d2436;
}

.button:hover {
  background: #cccccc;
  cursor: pointer;
  padding: 5px;
}

.submitButton {
  align-self: flex-end;
  font-size: 16px;
  padding: 15px;
  margin-top: 20px;
  background-color: #009b86;
  color: white;
}

.submitButton:hover {
  align-self: flex-end;
  font-size: 16px;
  padding: 15px;
  background-color: #34ac9c;
  color: #cccccc;
}
